<h1>PICTURE PLAYTIME</h1>
<h1>This is medium view</h1>
</p>
  <%#= image_tag @user.avatar.url %>
  <%= image_tag @user.avatar.url(:medium) %>
  <%#= image_tag @user.avatar.url(:thumb) %>


<p>
  <b>Avatar file size:</b>
  <%=h @user.avatar_file_size %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>